/*Variables for our main theme colours*/
:root {
    /* Main Primary color */
    --theme-colour-0: #B4CAF5;
    /* Lighter Shades */
    --theme-colour-1: #FFFFFF;
    --theme-colour-2: #E2EBFD;
    /* Darker Shades */
    --theme-colour-3: #8AA9E6;
    --theme-colour-4: #6286CE;
    --theme-text: #000000
}
