@model BookStoreApp.Data.LoginDTO

@using Microsoft.AspNetCore.Http;
@{
    ViewData["Name"] = "AddUser";
    string message = ViewBag.NewUsermessage ?? "";
    var roles = ViewBag.Roles;
}

<h1>AddUser</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddUser">
            @{
                if (string.IsNullOrWhiteSpace(message) == false)
                {
                    <label style="color:red">@message</label>
                }
            }
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" type="password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PasswordConfirmation" class="control-label"></label>
                <input asp-for="PasswordConfirmation" class="form-control" type="password" />
                <span asp-validation-for="PasswordConfirmation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Role</label>
                <select asp-for="Role" asp-items="@roles" class="form-control">
                    <option>Select User Role</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Add User" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-controller="Home">Back to Homepage</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
